body{
    background: rgb(102,96,236);
    background: radial-gradient(circle, rgba(102,96,236,1) 0%, rgba(0,25,128,1) 100%);
}

.container-fluid { 
    width: 100%;
}

.titulo{    
    color: rgb(174, 177, 0);
}

.puntuacionContainer{
    border: 5px solid #ffffff;
    border-radius: 25px;
}

.numero{
    color: rgb(174, 177, 0);
}

.puntuacion{
    color: rgb(156, 156, 156);
}

.answerContainer {
    height: 100px;
}

.caja{
    border: 10px solid rgb(224, 224, 224);
    background: rgba(0,25,128,1);
}

button{
    background: rgba(0,25,128,1);
}

.linia{
    height: 10px;
    background-color: rgb(224, 224, 224);
}

#tiempo{
    font-size: 30px;
    color: rgb(174, 177, 0);
}

 
#btnNext {
    background: rgb(61, 41, 134);
    height: 100%;
    width: 100%;
}
